$rosa-fuerte: #7A284E;
$rosa-claro: #FFF7FB; 

$negro-900: #312E2C;
$negro-600: #5F564D;
$gris-150: #E3DDD7;
$gris-100: #F3E5D7;

$marron: #854632;

$font-primary: "Young Serif", serif;;
$font-secondary: "Outfit", sans-serif;;

$bp-tablet: 768px;
$bp-desktop: 1440px;

@mixin breakpoint($bp) {
    @if $bp == tablet {
      @media (min-width: $bp-tablet) {
        @content;
      }
    }
  
    @if $bp == desktop {
      @media (min-width: $bp-desktop) {
        @content;
      }
    }
}

.text-preset-1 {
    font-family: $font-primary;
    font-size: 37px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 400;
}

.text-preset-2 {
    font-family: $font-primary;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 400;
}

.text-preset-3 {
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 600;
}

.text-preset-4 {
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

.text-preset-5 {
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 700;
}



 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-right: 32px;
    margin-left: 32px;

    background-image: url(../assets/images/image-omelette.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 375px 171px;

    @include breakpoint(tablet) {
        margin-right: 76px;
        margin-left: 76px;
        background-image: none;
        background-color: $gris-100;
    }

    @include breakpoint(desktop) {
        margin-right: 352px;
        margin-left: 352px;
        background-image: none;
        background-color: $gris-100;
    }
}

.container {
    margin-top: 210px;

    @include breakpoint(tablet) {
        margin-top: 128px;
        margin-bottom: 128px;
        padding: 40px;
        background-color: white;
        border-radius: 24px;
    }
}

.img-principal {
    display: none;

    @include breakpoint(tablet) {
        display: block;
        width: 536px;
        height: 300px;
        border-radius: 12px;
    }

    @include breakpoint(desktop) {
        display: block;
        width: 656px;
        height: 300px;
        border-radius: 12px;
    }
}

.header{
    &_title {
        color: $negro-900;
        @include breakpoint(tablet) {
            margin-top: 40px;
        }
    }

    &_description {
        margin-top: 24px;
        margin-bottom: 32px;
        color: $negro-600;
    }

    &_preparation {
        background-color: $rosa-claro;
        border-radius: 12px;
        padding: 24px;

        &-title {
            color: $rosa-fuerte;
            margin-bottom: 16px;
        }

        &-list {
            margin-left: 24px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            max-width: 200px;

            @include breakpoint(tablet) {
                max-width: 100%;
            }
            
            li{
                color: $negro-600;
                &::marker{
                    color: $rosa-fuerte;
                    width: 4px;
                    height: 4px;
                }
            }
        }
    }
}


.ingredients {
    &_title {
        color: $marron;
        margin-top: 32px;
    }

    &_list {
        margin-left: 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 250px;
        margin-top: 24px;

        @include breakpoint(tablet) {
            max-width: 100%;
        }

        li {
            color: $negro-600;
            font-size: 14px;

            &::marker {
                color: $marron;
                width: 4px;
                height: 4px;
            }
        }

    }
}

hr {
    margin-top: 32px;
    margin-bottom: 32px;
    color: $gris-150;
    width: 100%;
}

.instructions {
    &_title {
        color: $marron;
        margin-bottom: 24px;
    }

    &_list {
        margin-left: 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        margin-top: 24px;
        li{
            color: $negro-600;
            padding-left: 10px;

            &::marker {
                color: $marron;
                width: 16px;
                height: 24px;
            }
        }
    }
}

.nutrition {
    margin-bottom: 40px;
    &_title {
        color: $marron;
        margin-bottom: 24px;
    }

    &_description {
        color: $negro-600;

    }

    &_container {
        margin-top: 24px;
        
        &-par{
            display: grid;
            margin-left: 30px;
            margin-right: 30px;
            grid-template-columns: 1fr 1fr;

            
            &-name{
                color: $negro-600;
            }

            &-numero {
                color: $marron;
                font-weight: bold;
                text-align: start;
            }
        }
    }
}

.tabla {
    margin-top: 12px;
    margin-bottom: 12px;
}